/node_modules
/public/vacancy
/public/hot
/public/storage
/storage/*.key
/public/courses
/public/events
/public/public
/public/slider
/public/website

/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
